body, html{
    margin: 0;
    background-color: #faf8ef;
    overflow: hidden;
    font-family: Arial;
}
.game-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container-header{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
}
.banner{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.scoreboard{
    background-color: #bbada0;
    border-radius: 5px;
    height: 100px;
    width: 150px;
    color: #f9f6f2;
    font-weight: bold;
    font-size: 40px;
}
.score-number{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.score-title{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    background-color: #edc501;
    border-radius: 5px;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #f9f6f2;
    font-weight: bold;
}
.game-table{
    height: 70vh;
    width: 70vh;
    background-color: #bbada0;
    border-radius: 5px;
}
.cell{
    height: 25%;
    width: 25%;
    background-color: #cdc1b4;
    border-radius: 5px;
}
.grid{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid4{
    background-color: #edc501;
}
.grid2{
    background-color: #edc501;
}
.grid8{
    background-color: #f2b179;
}
.grid16{
    background-color: #f59563;
}
.grid32{
    background-color: #f67e5f;
}
.grid64{
    background-color: #f65e3b;
}
.grid128{
    background-color: #f1d96b;
}
.grid256{
    background-color: #f2cf4d;
}
.grid512{
    background-color: #e5c12b;
}
.grid1024{
    background-color: #dfba12;
}
.grid2048{
    background-color: #edc501;
}
.grid4096{
    background-color: mediumpurple;
}
.grid8192{
    background-color: rebeccapurple;
}
.gridNum{
    font-size: 40px;
    color: #f9f6f2;
    font-weight: bold;
}